.dark-background {
    background-color:white;
}

.text-color {
    color:black;
    font-size: 25px;
}

body {
    background-color: #162447;
}

.flex-container {
    margin-top: 430px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 80px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item {
    background: #e43f5a;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input-panel {
    margin-top: 1px;
}

.center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#sorting {
    margin-bottom: 5px;
    transform: rotate(180deg) scaleX(-1);
}
.range-input{
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}
.range-input .label{
    color: white;
    font-weight:600;
    height: 35px; 
    line-height: 35px; 
    margin:auto;
}